@page "/"

<link rel="stylesheet" href="css/login.css" />

<div id="login">

    <div id="login-inputs">
        <input type="text" id="player-name" placeholder="Player Name" @bind="PlayerName">
        <input type="text" id="lobby-name" placeholder="Lobby Name" @bind="LobbyName">
    </div>

    <div id="login-btns">
        <button id="join-lobby" @onclick="JoinLobby">Join Lobby</button>
        <button id="create-lobby">Create Lobby</button>
    </div>

    @if (error)
    {
        <div id="login-error">
            <ul>
                <li>@errorText</li>
            </ul>
        </div>
    }
</div>

@code{
    public string PlayerName { get; set; } = "";
    public string LobbyName { get; set; } = "";

    private bool error = false;
    private string errorText = "";


    private void CheckError()
    {
        if (PlayerName.Length <= 0)
        {
            errorText = "Player name cannot be blank !";
        }
        else if (LobbyName.Length <= 0)
        {
            errorText = "Lobby Name cannot be blank !";
        }
        else errorText = "";

        if (errorText.Length > 0) { error = true; }
        else { error = false; }
    }

    private void JoinLobby()
    {
        CheckError();
    }
}
