#teams {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 70%;
    padding: 0 40px;
}

.join-team-btn {
    width: 100%;
    padding: 10px;
    color: green;
    font-size: inherit;
    background-color: transparent;
}

#team1-list tr:last-child td,
#team2-list tr:last-child td {
    padding: 0;
}

.start-game {
    margin-top: 20px;
    background-color: tomato;
}

#game-controller {
    margin-bottom: 80px;
    text-align: center;
}
